# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Test executables
tests/vagg_notest
tests/vagg_test
libvagg.so.1
libvagg.so.1.0

